@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2b60ec;
  --color-white: #f6f7fb;
  --color-dark: #0a092d;
  --color-gray: #476773;
}
h1,h2,h3,p{
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: Lato,Arial, Helvetica, sans-serif;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* === sidenav*/
.sidebar a {
  font-size: 0.9em;
}

